<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /
RewriteRule ^mcp/?$ /mcp/index.php [L]
RewriteRule ^mcp/.*$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)＄ index.php
RewriteRule . /index.php [L]
</IfModule>
