@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;

	--bounce-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.halftone {
	--dotSize: 0.25rem;
	--bgSize: 1.5rem;
	--bgPosition: calc(var(--bgSize) / 2);
	--mask: linear-gradient(rgb(0 0 0), rgb(0 0 0 / 0.5));
	--stop1: 0.06rem;
	--stop2: 0.65rem;
	--color1: rgb(0, 0, 0);
	--color2: rgb(0, 0, 0);
	
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
  	filter: contrast(50);
	opacity: 0.08;
    z-index: -1;
}

.halftone::after {
	/* Cover our element */
	content: '';
	position: absolute;
	inset: 0;

	/* Dotted background */
	background-image: 
		radial-gradient(
			circle at center, 
			var(--color1) var(--stop1), 
			transparent var(--stop2)
		), 
		radial-gradient(
			circle at center, 
			var(--color2) 
			var(--stop1), 
			transparent var(--stop2)
		);
	background-size: var(--bgSize) var(--bgSize);
	background-position: 0 0, var(--bgPosition) var(--bgPosition);
	mask-image: var(--mask);
	-webkit-mask-image: var(--mask);
}

header {
	position: relative;
	height: 132px;
	width:100%;
}

header .brand {
	height:132px;
	position: absolute;
	z-index: 1;
}

header h1 {
	position: absolute;
	bottom: -3px;
	left: 0;
	top: auto;
	width: 100%;
	margin: 0;
    padding: 0.1em 0;
	background: #3050cc;
	border: solid 3px #000;
	border-right: none;
	border-left: none;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	z-index: 0;
}

header nav {
	display: flex;
	width: 70%;
	margin: auto;
}

header nav a {
	position: relative;
	flex: 1;
	text-align: center;
	background: transparent;
	height: 70px;
	margin-top: 10px;
}

header nav a:hover {
	background-size: 85%;
}

header nav a img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	transition: all 250ms var(--bounce-function);
}

header nav a img.burst {
	opacity: 0.65;
}

header nav a:hover img.burst {
	transform: translate(-50%, -50%) rotate(-5deg);
	height: 105%;
	opacity: 1;
}

header nav a:hover img.label {
	transform: translate(-50%, -50%) rotate(15deg);
	height: 110%;
}

.content {
	margin: 0 auto;
	width: 96%;
	max-width: 960px;
	min-height: calc(100% - 132px - 5em);
	padding-bottom: 5em;
}

.content h2 {
    display: inline-block;
    width: auto;
    padding: 0.05em 0.5em;
    margin: 2em 0 0.5em 0;
	background: #feff70;
    border: solid 2px #000;
	text-transform: uppercase;
}

/* Gallery */

#gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.frame {
	flex: 1;
}

.strip {
	display: block;
	position: relative;
	min-width: 250px;
    min-height: 250px;
	margin: 5px;
	border: solid 2px black;
	/* padding-bottom: calc(33.3% - 14px); */
	color: #999;
	background: black;
	aspect-ratio: 1;
	transition: background-color 500ms;
	overflow: hidden;
}

.strip img {
	position: absolute;
	width: 100%;
	transition: all 500ms var(--bounce-function);
}

.strip:hover img {
	transform: scale(1.15) rotate(5deg);
}

.strip h3 {
	position: absolute;
	bottom: 0;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
	text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 5px black;
}


/* Generate */

#statusdialog {
	position: fixed;
    top: 40vh;
    left: 50vw;
	width: 50vw;
    padding: 2em 4em;
    transform: translate(-50%, -50%) scale(0);
    background: #3050cc;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 3em;
    border: solid 3px #000;
    border-radius: 15px;
	box-shadow: 10px 15px 40px rgba(0,0,0,0.75);
    z-index: -1;
	opacity: 0;
	transition: all 500ms var(--bounce-function);
}

#statusdialog #status {
	margin-bottom: 0.5em;
	display: inline-block;
}

#statusdialog .lds-grid {
	display: inline-block;
    position: relative;
    width: 1em;
    height: 1.25em;
    transform: scale(0.75);
}

progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	 appearance: none;
  
	width: 100%;
	height: 0.5em;
}

progress[value]::-webkit-progress-bar {
	background-color: #ff9;
	background-color: rgba(0,0,0,0.5);
	border-radius: 1em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	border: solid 1px #000;
}

progress[value]::-webkit-progress-value {
	background-color: #f00;
	background-color: #fff;
	border-radius: 1em;
	/* box-shadow: -2px 2px 5px rgba(255, 255, 255, 0.75) inset; */
	/* border: solid 1px #000; */
}

#input {
	width:100%;
	display: flex;
	font-size: 18px;
}

#query, #generate {
	font-size: inherit;
	padding: 0.5em 1em;
	border: solid 1px #333e4d;
	border-radius: 5px;
}

#query {
	flex: 1;
	background: #e5f0ff;
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
}

#generate {
	flex: 0;
	margin: 0 1em;
	text-transform: uppercase;
	background: #e3e9f1;
	/* color: white; */
	box-shadow: inset -1px -1px 2px rgba(0,0,0,0.5);
}

#interface {
	display: flex;
	flex-direction: column;
	/* min-height: calc(100% - 132px - 5em); */
	/* justify-content: center; */
	/* transition: all 1s; */
}

#interface > div {
	/* flex: 1; */
	/* transition: all 1s; */
}

/* .generating #script:before,
.error #script:before {
	content: 'Generating...';
	font-size: 24px;
	font-weight: bold;
	color: #999;
}

.error #script:before {
	content: 'Error communicating with API. Try again.';
	color: #f99;
}

.init #strip .panel {
	background: #ccc;
}

.generating #strip .panel {
	background: #fff;
} */

.generate .query-wrapper{
	transform:none;
	transition: transform 500ms;
}

.generate[data-status='ready'] .query-wrapper{
	/* transform:translateY(10vh); */
}


.generate .script-wrapper {
	display: none;
}

.generate[data-status='generating'] #statusdialog {
	display: initial;
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	z-index: 500;
}

.generate[data-status='complete'] .strip-wrapper,
.generate[data-status='complete'] .script-wrapper {
	display: initial;
}

.generate[data-status='ready'] #strip .panel {
	background: #fff;
}

.generate[data-status='generating'] #strip .panel {
	background: #e0e0eb;
}

.generate[data-status='generating'] #strip .panel.rendering {
	background: hsl(240, 22%, 20%);
}

.generate[data-status='generating'] #strip .panel.rendering:before {
	content: 'Rendering...';
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #fff;
}

.generate[data-status='generating'] #strip .panel.rendered {
	background: #000;
}

#save, #permalink {
	display:none;
}


/* Detail */

/* #query {
	width: auto;
	background: #242442;
	color: rgba(255,255,255,0.8);
	padding: 1em;
} */

#query.premise {
	padding: 20px 30px;
	border-radius: 20px;
}

#query.premise:after {
	content: ' ';
    border-right: solid 1px black;
    width: 3px;
    display: inline-block;
    height: 1.25em;
    vertical-align: text-bottom;
	animation: blink-animation 1s step-start 0s infinite;;
}

@keyframes blink-animation {
	50% {
		visibility: hidden;
	}
}

/* Script */
#script {
	background: #fefae7;
	margin: 0;
    padding: 20px 30px;
	border: solid 1px rgba(203, 170, 56, 1);
    border-radius: 20px;
	list-style: none;
	font-family: 'Courier New', Courier, monospace;
}

#script h2, #script h3 {
	margin: 0 0 10px 0;
}

#script h2 {
	font-size: 1.5em;
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

#script h3 {
	font-size: 1em;
}

#script ul {
	list-style: none;
}

#script table {
	font-size: inherit;
}

#script table tr td {
	vertical-align: top;
}

#script table tr td:first-child {
	text-align: right;
	font-weight: bold;
	border-right: solid 3px rgba(0, 0, 0, 0.15);
	padding-right: 5px;
}

#script table tr td:last-child {
	padding-left: 5px;
}

/* Comic Strip */

#strip {
    display: flex;
	width: calc(100% - 18px);
    max-width: 942px;
    margin: auto;
	background: #fff;
	border: solid 1px #999;
    padding: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

#strip .panel {
	position: relative;
	flex: 1;
	width: 260px;
	margin: 5px;
	border: solid 2px black;
	/* padding-bottom: calc(33.3% - 14px); */
	color: #999;
	background: black;
	aspect-ratio: 1;
	transition: background-color 500ms;
}

#strip .panel img {
	position: absolute;
	width: 100%;
}

#strip .panel .dialog {
	position: relative;
	width: fit-content;
	/* width: calc(100%); */
	/* background: #feff70; */
	background: white;
	color: black;
	font-family: 'Patrick Hand', 'Courier New', Courier, monospace;
	font-size: 14px;
	letter-spacing: 0.5;
    /* font-weight: bold; */
    padding: 5px 10px;
	border: solid 2px black;
	margin: auto;
}

#strip .panel .dialog-container {
	position: absolute;
    width: calc(100% - 10px);
    /* height: calc(100% - 10px); */
    padding: 5px;
}

.bubble {
	position: relative;
	width: auto;
	/* text-align: center;
	line-height: 1.4em; */
	margin: 40px auto;
	background-color: #fff;
	border: 2px solid #333;
	border-radius: 15px;
	font-family: sans-serif;
	padding: 20px;
	font-size: large;
}

.thought {
	width: 300px;
	border-radius: 200px;
	padding: 30px;	
}

.bubble:before,
.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

.speech:before {
	left: 50px;
    bottom: -24px;
    border: 11px solid;
	border-color: #000 #000 transparent transparent;
}

.speech:after {
	left: 50px;
    bottom: -20px;
    border: 10px solid;
	border-color: #fff #fff transparent transparent;
}

.thought:before,
.thought:after {
	left: 10px;
	bottom: -30px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #333;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

.thought:after {
	width: 20px;
	height: 20px;
	left: 5px;
	bottom: -40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

/* mobile */
@media screen and (max-width: 900px) {
	header nav {
		margin: 0 0 0 25%;
	}
	header nav a {
		height: 50px;
		margin-top: 25px;
	}
	header h1 {
		padding-left: 20%;
		width: 80%;
	}
	#strip .panel .dialog {
		font-size: 10px;
	}
}

@media screen and (max-width: 550px) {
	header .brand {
		display: none;
	}
	header nav {
		margin: 0;
		width: 100%;
	}
	header nav a {
		height: 50px;
		margin-top: 30px;
	}
	header h1{
		font-size: 1.5em;
		padding-left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	#strip {
		flex-direction: column;
		max-width: 275px;
	}
	#strip .panel {
		margin: 5px auto;
	}
	#strip .panel .dialog {
		font-size: 14px;
	}
}


.lds-grid {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-grid div {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
	top: 8px;
	left: 8px;
	animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
	top: 8px;
	left: 32px;
	animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
	top: 8px;
	left: 56px;
	animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
	top: 32px;
	left: 8px;
	animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
	top: 32px;
	left: 32px;
	animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
	top: 32px;
	left: 56px;
	animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
	top: 56px;
	left: 8px;
	animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
	top: 56px;
	left: 32px;
	animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
	top: 56px;
	left: 56px;
	animation-delay: -1.6s;
  }
  @keyframes lds-grid {
	0%, 100% {
	  opacity: 1;
	}
	50% {
	  opacity: 0.5;
	}
  }