/* Detail */

/* #query {
	width: auto;
	background: #242442;
	color: rgba(255,255,255,0.8);
	padding: 1em;
} */

#query.premise {
	padding: 20px 30px;
	border-radius: 20px;
}

#query.premise:after {
	content: ' ';
	border-right: solid 1px black;
	width: 3px;
	display: inline-block;
	height: 1.25em;
	vertical-align: text-bottom;
	animation: blink-animation 1s step-start 0s infinite;;
}

.story-controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
}

.story-controls #story-title {
	font-size: 1.5em;
	font-weight: bold;
}

.story-controls a {
	text-decoration-thickness: .025em;
  	text-underline-offset: 1.5px;
	text-decoration-style: dotted;
}

.story-controls #story-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.story-controls #story-nav a {
	padding: 0 5px;
}


@keyframes blink-animation {
	50% {
		visibility: hidden;
	}
}