/* Gallery */

#gallery, .character-art {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.frame {
	flex: 1;
}

#gallery .strip {
	display: block;
	position: relative;
	/* min-width: 250px;
	min-height: 250px; */
	margin: 5px;
	border: solid 2px black;
	/* padding-bottom: calc(33.3% - 14px); */
	color: #999;
	background: black;
	aspect-ratio: 1;
	transition: background-color 500ms;
	overflow: hidden;
}

.strip img {
	position: absolute;
	width: 100%;
	opacity: 0.6;
	transition: all 500ms var(--bounce-function);
}

.strip:hover img {
	transform: scale(1.15) rotate(5deg);
	opacity: 1;
}

.strip h3 {
	position: absolute;
	bottom: 0;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
	text-shadow: 0px 0px 1px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 5px black;
	opacity: 1;
	transition: all 500ms var(--bounce-function);
}

.strip:hover h3 {
	opacity: 0;
}

#gallery .action-buttons {
	grid-column: 1/5;
}

@media screen and (max-width: 900px) {
	#gallery, .character-art {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 550px) {
	#gallery, .character-art {
		grid-template-columns: 1fr 1fr;
	}
}