/* Gallery */

#gallery, .character-art {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.frame {
	flex: 1;
}

#gallery .strip {
	display: block;
	position: relative;
	/* min-width: 250px;
	min-height: 250px; */
	margin: 5px;
	border: solid 2px black;
	/* padding-bottom: calc(33.3% - 14px); */
	color: #999;
	background: black;
	aspect-ratio: 1;
	transition: background-color 500ms;
	overflow: hidden;
}

.strip img {
	position: absolute;
	width: 100%;
	transition: all 500ms var(--bounce-function);
}

.strip:hover img {
	transform: scale(1.15) rotate(5deg);
	opacity: 1;
}

.strip h3 {
	position: absolute;
	top: 0;
	box-sizing: border-box;
	max-width: calc(100% - 10px);
	overflow-wrap: anywhere;
	margin: 5px;
	opacity: 1;
	font-size: 1em;
	transition: all 500ms var(--bounce-function);
}

#gallery .action-buttons {
	grid-column: 1/-1;
}

@media screen and (max-width: 900px) {
	.gallery #gallery, .character-art {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 768px) {
	#gallery, .character-art {
		grid-template-columns: 1fr 1fr;
	}
}