
#series ul {
	padding: 0;
}

#series ul li {
	list-style: none;
	margin: 0;
	margin-bottom: 25px;
}

#series ul li a{
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: left;
	text-decoration: none;
}

#series ul li a img {
	margin-right: 10px;
}

#series ul li a span.comic-title {
	font-size: 1.2em;
	font-weight: bold;
}

#series ul li a span.comic-summary {
	font-size: 0.8em;
	color: #666;
}
