body {
	--mobile-page-padding: 10px;
}

/* Comic Strip */

#strip {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 18px);
	max-width: 942px;
	margin: auto;
	background: #fff;
	border: solid 1px #999;
	padding: var(--container-padding);
	box-shadow: 2px 2px 6px rgba(0,0,0,0.5);

	--mobile-panel-width: 256px;
	--container-padding: 8px;
	--panel-border-width: 2px;
}

#strip.capture {
	max-width: none !important;
	width: 942px !important;
	flex-direction: row !important;
	box-shadow: none !important;
}

#strip .strip-container,
#strip .panel-container,
.strip-output .strip-container,
.strip-output .panel-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#strip .panel,
.strip-output .panel {
	position: relative;
	flex: 1;
	width: 260px;
	margin: 5px;
	border: solid var(--panel-border-width) black;
	/* padding-bottom: calc(33.3% - 14px); */
	color: #999;
	background: black;
	aspect-ratio: 1;
	transition: background-color 500ms;
}

#strip.capture .panel {
	margin: 5px !important;
}

#strip .panel img,
.strip-output .panel img,
#strip .panel canvas {
	position: absolute;
	width: 100%;
}

#strip .panel .bubble,
.strip-output .panel .bubble {
	position: relative;
	width: fit-content;
	min-width: 65px;
	/* width: calc(100%); */
	/* background: #feff70; */
	background: white;
	color: black;
	font-family: 'Patrick Hand', 'Courier New', Courier, monospace;
	font-size: 14px;
	letter-spacing: 0.5;
	/* font-weight: bold; */
	padding: 5px 10px;
	border: solid 2px black;
	margin: auto;
}

#strip .panel .bubble-container,
.strip-output .panel .bubble-container {
	position: absolute;
	width: calc(100% - 10px);
	/* height: calc(100% - 10px); */
	padding: 5px;
}

#strip .strip-container {
	position: relative;
}

#strip .nav-container {
	/* display: none; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	overflow: hidden;
	opacity: 0;
	transition: opacity 500ms 1ms, height 1ms 500ms ;
}

#strip .nav-container.active {
	/* display: block; */
	height: 100%;
	opacity: 1;
	transition: opacity 500ms 100ms, height 1ms 1ms ;
}

#strip .nav-container.active .nav-button {
}

#strip .nav-button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: calc(var(--mobile-panel-width) / 2);
	height: 100px;
	width: 100px;
	padding: 0;
	margin: 0;
	color: transparent;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
	box-shadow: none;
	transform: translateY(-50%);
}

#strip .nav-button[disabled] {
	opacity: 0.25;
}

#strip .nav-button:after {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	margin-left: -25px;
	border-top: solid 10px #FFF;
	border-right: solid 10px #FFF;
	transform: rotate(45deg);
}

#strip .nav-button.previous:after {
	transform: rotate(-135deg);
	margin-left: 10px;
}

#strip .nav-button.next {
	left: auto;
	right: 0;
}

.strip-output {
	margin: 0;
	padding: 0;
	width: fit-content;
	position: absolute;
	left: 150%;
}

.strip-output > .panel {
	width: 504px;
	height: 504px;
	margin: 0;
	border-width: 4px;
}

.strip-output > .panel .bubble {
	font-size: 24px;
	border-radius: 30px;
	padding: 10px 20px;
}

.strip-output > .panel .bubble-container {
	padding: 10px;
	width: calc(100% - 20px);
}

.strip-output > #strip,
.strip-output > .strip-container,
.strip-output > .strip-container > .panel-container {
	width: 1024px;
	max-width: none;
	box-shadow: none;
	padding-bottom: 16px;
	flex-direction: inherit;
}

.strip-output > .strip-container,
.strip-output > .panel-container {
	background-color: white;
	padding: 8px;
	padding-bottom: calc(16px + 2.5em);
}

.strip-output > #strip .panel {
	margin: 5px;
}

.strip-output > #strip .panel .bubble {
	font-size: 15px;
}

.bubble {
	position: relative;
	width: auto;
	/* text-align: center;
	line-height: 1.4em; */
	margin: 40px auto;
	background-color: #fff;
	border: 2px solid #333;
	border-radius: 15px;
	font-family: sans-serif;
	padding: 20px;
	font-size: large;
}

.thought {
	width: 300px;
	border-radius: 200px;
	padding: 30px;	
}

.bubble:before,
.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

.speech:before {
	left: 50px;
	bottom: -24px;
	border: 11px solid;
	border-color: #000 #000 transparent transparent;
}

.speech:after {
	left: 50px;
	bottom: -20px;
	border: 10px solid;
	border-color: #fff #fff transparent transparent;
}

.thought:before,
.thought:after {
	left: 10px;
	bottom: -30px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #333;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

.thought:after {
	width: 20px;
	height: 20px;
	left: 5px;
	bottom: -40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

@media screen and (max-width: 900px) {
	#strip .panel .bubble {
		font-size: 10px;
	}
}

@media screen and (max-width: 768px) {

	/* TODO: Global Layout. Eventually this will apply to all pages */
	.content {
		width: calc(100% - var(--mobile-page-padding) * 2);
		margin: 0 auto;
		padding: var(--mobile-page-padding);
	}





	/* #strip,
	.strip-container,
	.panel-container {
		max-width: 275px;
	} */
	#strip .panel-container {
		width: calc(var(--mobile-panel-width) - var(--container-padding) * 2 + var(--panel-border-width) * 2);
		max-width: var(--mobile-max-panel-width);
		margin: auto;
		overflow: hidden;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
	}
	#strip .panel-container::-webkit-scrollbar {
		height: 10px;
	}
	#strip .panel-container::-webkit-scrollbar-thumb {
		background: #333;
		border-radius: 10px;
	}
	#strip .panel-container::-webkit-scrollbar-track {
		border-radius: 10px;
		background: transparent;
		background: radial-gradient(circle at 50%, #999 32%, white 33%, white 34%, #999 35%);
	}
	#strip .panel {
		scroll-snap-align: start;
		flex-shrink: 0;
		width: calc(var(--mobile-panel-width) - var(--container-padding) * 2);
		height: calc(var(--mobile-panel-width) - var(--container-padding) * 2);
		margin-right: 10px;
	}
	#strip .panel:first-child {
		margin-left: 0;
	}
	#strip .panel:last-child {
		margin-right: 0;
	}
	#strip .panel .bubble {
		font-size: 14px;
	}

	#strip-title {
		margin: 0 5px 10px 5px;
	}
}